<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet"></link>
    <script src="/js/javasprict.js" th:src="@{/js/javasprict.js}"></script>
</head>
<body>
<header>
    <a class="top" href = "/">TOP</a>
    <a class="login">ログイン</a>
</header>
<form action="/menu" method="post">メニュー登録
    <br>
    <tr th:each="result:${results}">
        <input type="checkbox" name="recipename" th:value="${result.name}"><label th:text="${result.name}" 　></label>
        <br>
    </tr>
    <br>
    <input type="text" name="menuname" placeholder="メニュー名">
    <br>
    <input type="radio" class="menucheck" name="kind" value="和食"><label>和食</label>
    <input type="radio" class="menucheck" name="kind" value="洋食"><label>洋食</label>
    <input type="radio" class="menucheck" name="kind" value="中華"><label>中華</label>
    <br>
    <input type="text" name="price" value="" placeholder="価格">
    <br>
    <button type="submit">登録</button>
</form>
<br>
<biv th:text="${menumessage}" 　class="error"></biv>
<br>
<table>
    <tr th:each="menu:${menuresults}">
        <tb th:text="${menu.name}"></tb>
    </tr>
</table>


</body>
</html>