<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet"></link>
    <script src="/js/javasprict.js" th:src="@{/js/javasprict.js}"></script>
</head>
<body>
<header>
    <a class="top" href = "/">TOP</a>
    <a class="login">ログイン</a>
</header>
<div class = "topitem">
    <a href="/recipe/">レシピ登録</a>
    <br>
    <a href="/recipelist/">レシピを見る</a>
    <br>
    <a href="/menu/">メニュー登録</a>
    <br>
    <a href="/menulist">メニューを見る</a>
    <br>
    <a href="/stock">在庫管理</a>
    <br>
    <a href="/user">ユーザー情報</a>
    <br>
    <a href="/buy">購入する</a>
</div>
</body>
</html>