<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet"></link>
    <script src="/js/javasprict.js" th:src="@{/js/javasprict.js}"></script>
</head>
<body>
<header>
    <a class="top" href = "/">TOP</a>
    <a class="login">ログイン</a>
</header>
<form action="/buy" method="post">
    <br>
    <p>購入画面</p>
    <br>
    <table>
    <tr th:each="buy:${stocklist}">
        <input type="checkbox" name="name" th:value="${buy.name}"><label th:text="${buy.name}" 　></label>
        <tb th:text="${buy.ivn}"></tb>
        <br>
    </tr>
    </table>
    <button type="submit">購入</button>
</form>
<p th:text="${buymassege}"　class = "error"></p>

</body>
</html>